@charset "utf-8";

header, #slide, #breadcrumb, #contents, footer {
	width: 320px;
}

#top h1 a img{
	width: 320px;
}



nav {
	width: 320px;
	margin: 0 auto;
}

nav ul {
	margin: 0 auto;
	list-style-type: none;
	overflow: hidden;
}

nav ul li {
	margin: 0 auto;
  width: 320px;

}

nav ul li#nav_keion a{
  background-image: url(../image/210.229.17.160-3.gif);
}

nav ul li#nav_yuzuguitar a{
  background-image: url(../image/210.229.17.160-6.gif);
}

nav ul li#nav_myguitar a{
  background-image: url(../image/210.229.17.160-9.gif);
}

nav ul li#nav_blog a{
  background-image: url(../image/210.229.17.160-12.gif);
}




#stage {
	width: 320px;
	height: 301px;

	padding-top: 0;
	position: relative;
	margin: 0 auto;
}


#slide {
	width: 320px;
	height: 301px;
	padding-top: 0;
	position: relative;
	margin: 0 auto;
}

div#photo1, #photo2, #photo3, #photo4 {
	width: 320px;
	height: 301px;
	padding-top: 0;
  position: absolute;
  float: left;
}

#slide img {
	width: 320px;
	height: 301px;
}

#main {
  margin: 0;
}

#main #acMenu{
	width: 320px;
}



#main, ul li, h2 {
	width: auto;
	float: none;
}

#acMenu dd.honbun {
  width: 308px;
  margin: 0;
  padding-right: 3px;
  padding-left: 3px;
}


#acMenu dd.honbun{
  overflow: hidden;
}

#acMenu dd .youtube-player {
  width: 308px;
  margin: 0 auto;
}
#acMenu dd img.image_right {
  padding-right: 14px;
}

#acMenu dd img.image_center {
    width: 308px;
    height: auto;
}
#sub {
	margin-left: 10px;
	float: none;
}
footer {
	padding-top: 30px;
}
footer p {
	float: none;
}